<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>프로젝트</title>
  <link rel="stylesheet" type="text/css" href="../style/contents.css">
  <link rel="stylesheet" type="text/css" href="../style/swiper.min.css">

  <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>
  <script type="text/javascript" src="../js/swiper.min.js"></script>

</head>
<body>
  <div id="wrap">
		<header>
			<div class="logo">
				<h1>
					Let’s STUDY
				</h1>
			</div>
			<ul class="gnb-layout">
				<li>
					<p>Full <br />
						Video</p>
				</li>
				<li class="on">
					<p>Training <br />
						Video</p>
				</li>
				<li>
					<p>Shadowing</p>
				</li>
				<li>
					<p>AI <br />
						Couching</p>
				</li>
				<li>
					<p>Learn <br />
						More</p>
				</li>
			</ul>
		</header>
	<section>
		<div>
			<div class="frame-layout w100">
				<div class="frame-content col-03 tit-in-content">
					<h1>Let’s Practice!</h1>
					<div>
						<div>
							<div class="video-layout">
								<!-- 비디오 영역 -->
							</div>
							<div class="txt-box">
								<h1>백수지와 구대영이 삼겹살을 구워 먹으며 대화를 하고 있다.</h1>
								<p>Baek Soo-ji and Koo Dae-young are talking while grilling pork belly.</p>
							</div>
						</div>
						<div>
							<div class="video-layout">
								<!-- 비디오 영역 -->
							</div>
							<div class="txt-box">
								<h1>백수지와 구대영이 삼겹살을 구워 먹으며 대화를 하고 있다.</h1>
								<p>Baek Soo-ji and Koo Dae-young are talking while grilling pork belly.</p>
							</div>
						</div>
						<div>
							<div class="video-layout">
								<!-- 비디오 영역 -->
							</div>
							<div class="txt-box">
								<h1>백수지와 구대영이 삼겹살을 구워 먹으며 대화를 하고 있다.</h1>
								<p>Baek Soo-ji and Koo Dae-young are talking while grilling pork belly.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  </div>
</body>
</html>
