<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>프로젝트</title>
    <style>
        td { text-align: center; }
    </style>

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="{{url_for('static', filename='data/favicon.ico')}}">
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</head>
<body>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <tr class="d-flex">
                    <td class="col-2">텍스트</td>
                    <td style="text-align: left;"><pre>{{text}}</pre></td>
                </tr>
                <tr class="d-flex" style="background-color: aliceblue;">
                    <td class="col-2">비디오</td>
                    <td class="col-10"><audio controls
                        src="{{url_for('static', filename='img/raw_audio.wav', q=mtime)}}">
                    </audio></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" 
                                onclick="location.href='/start4'">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</body>
</html>